#container {
    padding-top:50px;
    width:400px;
    margin: 0 auto;
    font-size:1.5rem;
}
input {
    border: 1px solid #0b0a0e;
    width: 100%;
    display:block;
    padding: 5px;
    font-size: 1.1rem;
    box-sizing: border-box;
}
label {
    margin-top:10px;
    display:block;
}
#submit, #submit:focus {
    margin-top: 20px;
    border-radius: 8px;
    padding: 10px;
    color: white;
    background-color: #2084ba;
    border: none;
}